---
import logInUser from "../db/loginUser";
import Basic from "../layouts/basic.astro";
export const prerender = false;

let loginError;
try {
  if (Astro.request.method !== "POST") {
    throw new Error("");
  }

  const logInData = await Astro.request.formData();

  const email = logInData.get("email");
  const password = logInData.get("password");

  if (!email || !password) {
    throw new Error("Complete dataset not provided");
  }

  const token = await logInUser(email as string, password as string);
  const weekDurain = 604_800;

  Astro.cookies.set("token", token, { maxAge: weekDurain});

  return Astro.redirect(process.env.URI_APP);
} catch (err) {
  if (Astro.request.method === "POST") {
    loginError = err;
  }
}
---

<Basic>
  {loginError}
  <form action="" method="POST">
    <label for="email">email</label>
    <input type="email" name="email" id="email" required />
    <label for="password">password</label>
    <input type="password" name="password" id="password" required />
    <button type="submit">zarejestruj się</button>
  </form>
</Basic>
