---
import logInUser from "../db/loginUser";

export const prerender = true;
let loginError;
try {
  if (Astro.request.method !== "POST") {
    throw new Error("");
  }
  const loginData = await Astro.request.formData();

  const email = loginData.get("email");
  const password = loginData.get("password");
  const saveLogin = loginData.get("save-login");

  if (!email || !password || !saveLogin) {
    throw new Error("Complete dataset not provided");
  }

  await logInUser(email as string, password as string);
  return Astro.redirect("/");
} catch (err) {
  if (Astro.request.method === "POST") {
    loginError = err;
  }
}
---

{loginError}
<form action="login" method="POST">
  <label for="email">email</label>
  <input type="email" name="email" id="email" required />
  <label for="password">password</label>
  <input type="password" name="password" id="password" required />
  <label for="save-login">Save login</label>
  <input type="checkbox" name="save-login" id="save-login" />
  <button type="submit">login</button>
</form>
