---
import Basic from "../layouts/basic.astro";
export const prerender = true;

const serverURL = process.env.SERVER_URL as string;
---

<Basic>
  <form action={serverURL + "login"} method="POST" class="login-form">
    <label for="email">email</label>
    <input type="email" name="email" id="email" required />
    <label for="password">hasło</label>
    <input
      type="password"
      name="password"
      id="password"
      required
      pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[a-zA-Z]).{8,32}$"
      title="8-32 characters containt at least one lowercase and uppercase letter and at least one number"
    />
    <label for="keepLogin">Nie wylogowuj</label>
    <input type="checkbox" name="keepLogin" id="keepLogin" />
    <button type="submit">zaloguj się</button>
  </form>
</Basic>

<script src="../script/sendForm.ts"></script>
