---
import Basic from "../layouts/basic.astro";
import dotenv from "dotenv";
export const prerender = true;

dotenv.config();

const serverURL = process.env.SERVER_URL as string;
console.log(process.env.SERVER_URL);
---

<Basic>
  <form action={serverURL + "register"} method="POST" class="register-form">
    <label for="name">name</label>
    <input type="text" name="name" id="name" required />
    <label for="email">email</label>
    <input type="email" name="email" id="email" required />
    <label for="password">password</label>
    <input
      type="password"
      name="password"
      id="password"
      required
      pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[a-zA-Z]).{8,32}$"
      title="8-32 characters containt at least one lowercase and uppercase letter and at least one number"
    />
    <button type="submit">zarejestruj się</button>
  </form>
</Basic>
<script src="../script/sendForm.ts"></script>
