---
import "../styles/global.css";
---

<html lang="pl">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="google-signin-client_id"
      content="865410483991-p1f4k09haber1lqnt6l3mt9mpqj5fahg.apps.googleusercontent.com "
    />
    <meta name="generator" content={Astro.generator} />
    <title>{Astro.props.title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
